ul.social-network {
    list-style: none;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa {
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-github:hover {
    color: rgb(94, 94, 94);
}

.fa-linkedin:hover {
    color: #0072b1;
}
.fa-whatsapp:hover {
  color: #3f8d13;
}
.fa-envelope:hover {
  color: #d12121;
}
