<!--BIOGRAFIA-->

<div class="container-fluid p-5 " id="biografia">

    <div class="row">

        <div class="col-md-7 my-5 p-4 text-black rounded borda">

            <h2 class="text-center azul my-4 display-1">Biografia</h2>

            <p class="indent ">Olá meu nome é <strong class="azul ">Beatriz</strong> e tenho 24 anos, nasci em Alagoas e cresci no Acre, estado que me proporcionou vivências únicas, tanto ao que se refere ao contato com a natureza, quanto ao crescimento pessoal.</p>
            <p class="indent "> Após a transição de estudante de Física Médica para programadora, o <strong class="azul ">desenvolvimento de software</strong> tornou-se minha aspiração de carreira por agregar a maioria das minhas "paixões ". O pensamento crítico voltado
                para a lógica, a organização e a entrega de prioridades da metodologia Agile, aplicação de <strong class="azul ">UX Design</strong>, responsividade, além das <strong class="azul ">Soft Skills</strong> aprimoradas na Generation Brasil.</p>

        </div>


        <div class="col-md-5 my-5 ">
            <img class="img-fluid" src="https://i.imgur.com/NFGeavx.png " alt=" ">
        </div>

    </div>

</div>
