    .azul {
        color: #739D9F
    }

    .indent {
        text-indent: 40px;
        text-align: justify;
        font-size: 20px;
    }

    .borda {
        border: 3px solid;
        border-color: #739D9F;
    }
