<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">

        <a class="navbar-brand gradiente nomegrande btn" onclick="window.location.href = '#inicio'">Beatriz Canuto</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class=" collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nomepequeno col-md-12 d-flex justify-content-around">

                <li class="nav-item">
                    <a class="nav-link azul  btn" onclick="window.location.href='#biografia'">Biografia</a>
                </li>
                <li class=" nav-item ">
                    <a class="nav-link laranja btn " onclick="window.location.href='#projetos' ">Projetos</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link verde btn " onclick="window.location.href='#tecnologias' ">Tecnologias</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link vermelho btn " onclick="window.location.href='#competencias' ">Competências</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link amarelo btn " data-toggle="modal" data-target="#contato" type="submit">Contato</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
