.navbar {
  overflow: hidden;
}

.laranja {
  color: #df8b57;
}

.azul {
  color: #739d9f;
}

.verde {
  color: #9ac495;
}

.vermelho {
  color: #a44c4c;
}

.amarelo {
  color: #d8b14d;
}

.nomegrande {
  font-size: 25px;
  font-weight: 600;
  color: #b29b83;
}

.nomepequeno {
  font-size: 20px;
}

.btn:hover {
  color: #b29b83;
}

.title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 40px;
  line-height: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #d8b14d;
  background: #d8b14d;
  background: -moz-linear-gradient(left, #a44c4c 0% #d8b14d 100%) !important;
  background: -webkit-linear-gradient(
    left,
    #a44c4c 0%,
    #d8b14d 100%
  ) !important;
  background: linear-gradient(to right, #a44c4c 0%, #d8b14d 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}


.contact-list {
  list-style-type: none;

}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 20px;
}

.phone {
  margin-left: 20px;
}

.gmail {
  margin-left: 20px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
}

.contact-text a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;

}

.social-media-list li:after {

  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;

}

.social-media-list li:hover {
  background-color: #fff;
}



.social-media-list li:hover a {
  color: #000;
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

