<div class="container container-fluid  ">
<div class="col-xl-8 mx-auto text-center p-5">
  <div class="section-title ">
      <h3 class="display-1 verde">Tecnologias</h3>

  </div>
</div>
</div>
<body class="pr-5">

  <div class="container container-fluid  " id="tecnologias">

    <section>

      <div class="card ">
          <div class="face face1">
              <div class="content">
                  <img src="https://i.imgur.com/G0zWJQ2.png">

              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Java é uma linguagem de programação e plataforma de computação, onde muitos serviços e aplicativos são desenvolvidos.</p>
                      <a href="https://www.java.com/pt-BR/" target="_blank">Saiba mais</a>
              </div>
          </div>
      </div>
      <div class="card ">
          <div class="face face1">
              <div class="content">
                  <img src="https://i.imgur.com/zh54ndo.png">

              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>
                    O MySQL cria um banco de dados para armazenamento e manipulação de dados, definindo a relação de cada tabela.</p>
                      <a href="https://www.mysql.com" target="_blank">Saiba mais</a>
              </div>
          </div>
      </div>
      <div class="card ">
          <div class="face face1 ">
              <div class="content">
                  <img src="https://i.imgur.com/DkeK8lF.png">

              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>
                    O Spring Boot é um framework Java open source que tem como objetivo facilitar esse processo em aplicações Java.</p>
                      <a href="https://spring.io/projects/spring-boot" target="_blank">Saiba mais</a>
              </div>
          </div>
      </div>
</section>


<section>

      <div class="card ">
          <div class="face face1">
              <div class="content">
                  <img src="https://i.imgur.com/qBJuVuT.png">

              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>
                    A Linguagem de Marcação de Hipertexto (HTML) é a linguagem principal da web.</p>
                      <a href="https://www.w3schools.com/html/" target="_blank">Saiba mais</a>
              </div>
          </div>
      </div>
      <div class="card ">
          <div class="face face1">
              <div class="content">
                  <img src="https://i.imgur.com/zPKmHC5.png">

              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>
                    CSS é a sigla para Cascading Style Sheets. É uma maneira de dar estilo ao código criado por linguagens como HTML.</p>
                      <a href="https://www.w3schools.com/css/" target="_blank">Saiba mais</a>
              </div>
          </div>
      </div>
      <div class="card ">
          <div class="face face1 ">
              <div class="content">
                  <img src="https://i.imgur.com/Bj2iH5k.png">

              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Bootstrap é um framework front-end que fornece estruturas de CSS para a criação de sites e aplicações responsivas de forma rápida e simples.</p>
                      <a href="https://getbootstrap.com" target="_blank">Saiba mais</a>
              </div>
          </div>
      </div>

</section>


<section>

      <div class="card ">
          <div class="face face1">
              <div class="content">
                  <img src="https://i.imgur.com/LYVLfZN.png">

              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>O Angular pode ser utilizado para criar aplicações web SPA, aplicações mobile ou até mesmo aplicações desktop .</p>
                      <a href="https://angular.io" target="_blank">Saiba mais</a>
              </div>
          </div>
      </div>
      <div class="card ">
          <div class="face face1">
              <div class="content">
                  <img src="https://i.imgur.com/To345xT.png">

              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p> O TypeScript é um superset que serve para potencializar a linguagem JavaScript. Com ele é possível construir projetos complexos sem nenhum empecilho.</p>
                      <a href="https://www.typescriptlang.org" target="_blank">Saiba mais</a>
              </div>
          </div>
      </div>
      <div class="card ">
          <div class="face face1 ">
              <div class="content">
                  <img src="https://i.imgur.com/ADnhtwb.png">

              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>O PostgreSQL suporta nativamente um grande número de tipos de dados padrão, como JSON, XML, etc, é um dos poucos bancos de dados relacionais.</p>
                      <a href="https://www.postgresql.org" target="_blank">Saiba mais</a>
              </div>
          </div>
      </div>

</section>

</div>
</body>
