<section class="experience pt-100 pb-100 " id="projetos">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 mx-auto text-center">
                <div class="section-title ">
                    <h3 class="display-1 laranja">Projetos</h3>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <ul class="timeline-list ">
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content ">
                            <span>Julho-2022</span>
                            <h4>Zero Waste</h4>
                            <p>Criação de Rede Social visando proposta de resolução para a <strong class="laranja" >ODS n°2 da ONU: Fome Zero e Agricultura Sustentável</strong>. REST API's, desenvolvidos em Java com banco de dados relacionais utilizando Spring Framework, utilizando padrão MVC com
                                deploy no Heroku. No Front-end o consumo de API foi feito no Angular com aplicação de BootStrap para responsividade das páginas web e uso de conceitos UX Design para melhor experiência do usuário.</p>

                                <a href="https://zerowasteg.netlify.app/" target="_blank">
                                  <button type="button" class="btn btn-outline-dark mx-3">
                                Site/Deploy
                              </button></a>

                            <button type="button" class="btn btn-dark btn-preto " data-bs-toggle="modal" data-bs-target="#modalZeroWaste">
                              Ver mais
                            </button>


                        </div>
                    </li>
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content">
                            <span>Julho-2022</span>
                            <h4>Blog Pessoal</h4>
                            <p><strong class="laranja" >Criação de Rede Social</strong>, formato blog pessoal com elaboração de Back-end com cadastro de postagens e usuários, testes de aplicação com JUnit e Insomnia. No Front-end o consumo de API foi feito no Angular.</p>

                            <a href="https://blogpessoalbeatrizcanuto.netlify.app/" target="_blank">
                            <button type="button" class="btn btn-outline-dark mx-3">
                                Site/Deploy
                              </button></a>

                            <button type="button" class="btn btn-dark btn-preto " data-bs-toggle="modal" data-bs-target="#modalBlogPessoal">
                              Ver mais
                            </button>

                        </div>
                    </li>
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content">
                            <span>Julho-2022</span>
                            <h4>Curriculum</h4>
                            <p>Projeto desenvolvido para divulgação de <strong class="laranja" >portfólio pessoal</strong>. Construído no Front-end em Angular na IDE VSCode. Utilizando codificação básica de Bootstrap, HTML, CSS e SCSS.</p>

                            <a href="https://curriculumbeatrizcanuto.netlify.app" target="_blank">
                            <button type="button" class="btn btn-outline-dark mx-3">
                                Site/Deploy
                              </button></a>

                            <button type="button" class="btn btn-dark btn-preto " data-bs-toggle="modal" data-bs-target="#modalCurriculum">
                              Ver mais
                            </button>

                        </div>
                    </li>
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content">
                            <span>Jul-Ago 2022</span>
                            <h4>Castanha Cacau Brasil</h4>
                            <p>Projeto <strong class="laranja" >desenvolvido para clientes</strong> em formato de catálogo de proDutos. Construído no Front-end em Angular na IDE VSCode. Utilizando codificação básica de Bootstrap, HTML e CSS.</p>

                            <a href="http://castanhacacaubrasil.com/" target="_blank">
                            <button type="button" class="btn btn-outline-dark mx-3">
                                Site/Deploy
                              </button></a>

                            <button type="button" class="btn btn-dark btn-preto " data-bs-toggle="modal" data-bs-target="#modalCastanhaCacau">
                            Ver mais
                            </button>

                        </div>
                    </li>
                    <!-- Single Experience -->
                    <li>
                      <div class="timeline_content">
                          <span>Setembro-2022</span>
                          <h4>Press Kit</h4>
                          <p>Projeto desenvolvido durante workshop EBAC com <strong class="laranja" >Roberta Matsunaga</strong>. O desafio consistia em criar um produto Press Kit cujo elemento principal fosse a lavanda. Criei a logo e alusão a forma como os portugueses chamam a lavanda (alfazema), e o produto principal seria um travesseiro aromaterápico, o kit vem com um travsseiro de pescoço, óleos essenciais de lavanda, um buquê e máscara para olhos. A experiência da embalagem é ser semelhante ao abrir um gaveta.</p>

                          <a href="" target="_blank">
                          <button type="button" class="btn btn-outline-dark mx-3">
                              Projeto/PDF
                            </button></a>

                          <button type="button" class="btn btn-dark btn-preto " data-bs-toggle="modal" data-bs-target="#modalCurriculum">
                            Ver mais
                          </button>

                      </div>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</section>





<!-- Modal -->
<div class="modal fade " id="modalZeroWaste" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Zero Waste</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img height="430" src="https://i.imgur.com/H4uwPEm.gif" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Sair</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="container-fluid">
    <div class="modal fade " id="modalBlogPessoal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Blog Pessoal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img height="430" src="https://i.imgur.com/Pa4RGA7.gif" alt="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Sair</button>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="container-fluid">
<div class="modal fade " id="modalCurriculum" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Curriculum</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img height="430" src="https://i.imgur.com/Z40kM9u.gif" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Sair</button>
            </div>
        </div>
    </div>
</div>

</div>


<!-- Modal -->
<div class="modal fade " id="modalCastanhaCacau" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Castanha Cacau Brasil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img height="430" src="https://i.imgur.com/WXLi7Sz.gif" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Sair</button>
            </div>
        </div>
    </div>
</div>
