<section class="experience pt-100 pb-100 bg-light" id="projetos">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 mx-auto text-center">
                <div class="section-title">
                    <h4>Projetos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <ul class="timeline-list ">
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content ">
                            <span>Julho-2022</span>
                            <h4>Zero Waste</h4>
                            <p>We gather your business and products information. We then determine the direction of the project and understand your goals and we combine your ideas with ours for an amazing website.</p>

                            <button type="button" class="btn text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              Ver mais
                            </button>


                        </div>
                    </li>
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content">
                            <span>Julho-2022</span>
                            <h4>Blog Pessoal</h4>
                            <p>We gather your business and products information. We then determine the direction of the project and understand your goals and we combine your ideas with ours for an amazing website.</p>


                            <button type="button" class="btn text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              Ver mais
                            </button>

                        </div>
                    </li>
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content">
                            <span>Julho-2022</span>
                            <h4>Curriculum</h4>
                            <p>We gather your business and products information. We then determine the direction of the project and understand your goals and we combine your ideas with ours for an amazing website.</p>

                            <button type="button" class="btn text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              Ver mais
                            </button>

                        </div>
                    </li>
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content">
                            <span>Jul-Ago 2022</span>
                            <h4>Castanha Cacau Brasil</h4>
                            <p>We gather your business and products information. We then determine the direction of the project and understand your goals and we combine your ideas with ours for an amazing website.</p>

                            <button type="button" class="btn text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Ver mais
                            </button>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>





<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Zero Waste</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img height="430" src="https://i.imgur.com/Q4u8385.gif" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn text-white" data-bs-dismiss="modal">Sair</button>
            </div>
        </div>
    </div>
</div>
