<!--BANNER-->
<div class="container-fluid d-flex align-items-center p-5 mt-5" id="inicio">
    <div class="animanome row">

        <div class="static-txt text-left ">Desenvolvedora Web Full Stack: </div>
        <ul class="dynamic-txts text-left">
            <li><span>Back-end.</span></li>
            <li><span>Front-end.</span></li>
            <li><span>Ux Design.</span></li>
            <li><span>Soft Skills.</span></li>

        </ul>
    </div>
</div>



<!--JUMBOTRON-->

<div class="container-fluid p-0 " id="dividir">
    <div class="row">
        <img src="https://i.imgur.com/EpDa85m.png" alt=" ">
    </div>
</div>
